html>body article {
    font-family: "Computer Modern Serif", serif;
}

pre,
code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: .80rem;
}